* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: #F2F2F2;
}

.header-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-profile {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin: 0.6rem 0rem 0.5rem 1rem;
}

.profile-and-name {
    display: flex;
}

.name-and-date {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 12px;
    font-weight: 700;
}

.date {
    font-size: 10px;
    color: #999999;
}