* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: #F2F2F2;
}

.preview-footer-comments {
    font-size: 12px;
    margin: 0 0.5rem;
    color: rgb(37, 37, 37);
    height: 4rem;
    overflow: hidden;
}